@charset "utf-8";

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



@import 'vars';
@import 'mixins';


.ls-container { //有最大宽度
  @include make-container();
  @include make-container-max-width();
}
.ls-container-fluid {
  @include make-container();
}

.ls-row {
  @include make-row();
}

.ls-no-gutter {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
@include make-grid-columns();